@use 'mixins';
@import 'variables';

$button: '.btn';
$card: '.c-card';
$modal: '.c-modal';

#{$button} {
  border: none;
  height: 3rem;
  width: 6.5rem;
  color: $white;
  border-radius: $radius;
  transition: all 0.3s;
  cursor: pointer;

  &--blue {
    background-color: $blue-400;

    &:hover {
      background-color: $blue-100;
    }
  }

  &--gray {
    background-color: $grayish-blue-600;

    &:hover {
      background-color: $grayish-blue-400;
    }
  }

  &--red {
    background-color: $red-400;

    &:hover {
      background-color: $red-100;
    }
  }

  &--tiny {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
  }

  &--link {
    background-color: transparent;
    color: $blue-400;
    font-weight: 700;

    @include mixins.mobile {
      width: 4.5rem;
      height: 2rem;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__card--delete {
    color: $red-400;
  }
}

#{$card} {
  position: relative;
  background-color: $white;
  border-radius: $radius;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.25rem;

  @include mixins.mobile {
    flex-direction: column-reverse;
  }

  &__score {
    background-color: $gray-100;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 0.625rem;
    gap: 0.5rem;

    @include mixins.mobile {
      flex-direction: row;
      width: fit-content;
      gap: 1.5rem;
    }

    &__display {
      color: $blue-400;
      font-weight: 500;
    }
  }

  &__post {
    flex: 1 1 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    @include mixins.mobile {
      .action__buttons {
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
      }
    }
  }

  &__publisher {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__photo {
      width: 2rem;
      height: 2rem;
    }

    &__name {
      color: $grayish-blue-600;
    }

    &__date {
      color: $grayish-blue-400;
      margin-left: 1rem;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__content.--disabled {
    #{$card}__input {
      background-color: transparent;
      border: none;
      padding: 0;
    }

    .btn {
      display: none;
    }
  }

  &__input {
    width: 100%;
    overflow: auto;
    resize: none;
    margin-top: 0.625rem;
    margin-bottom: 1rem;
    border-radius: $radius;
    padding: 0.8rem;
    line-height: 1.5rem;
    color: $grayish-blue-400;

    @include mixins.mobile {
      height: 6rem;
    }
  }

  &__comment {
    margin-top: 0.625rem;
    line-height: 1.5rem;
    color: $grayish-blue-400;
  }
}

#{$modal} {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: show 0.3s linear;

  &__card {
    background-color: $white;
    border-radius: $radius;
    padding: 2rem;
    width: min(25rem, 90%);
  }

  &__title {
    color: $grayish-blue-600;
    font-size: 1.25rem;
  }

  &__description {
    margin-top: 1rem;
    line-height: 1.5rem;
    color: $grayish-blue-400;
  }

  &__footer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      flex: 1 1 auto;
    }
  }
}

#{$modal}--hidden {
  display: none;
  opacity: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
