@import 'variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $gray-100;
}

body,
button,
textarea {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

ul {
  list-style: none;
}

main {
  padding: 4rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
