$red-100: hsl(357, 100%, 86%);
$red-400: hsl(358, 79%, 66%);
$blue-100: hsl(239, 57%, 85%);
$blue-400: hsl(238, 40%, 52%);
$grayish-blue-400: hsl(211, 10%, 45%);
$grayish-blue-600: hsl(212, 24%, 26%);
$gray-100: hsl(228, 33%, 97%);
$gray-200: hsl(223, 19%, 93%);
$white: hsl(0, 0%, 100%);
