@use 'global';
@use 'components';
@use 'mixins';
@import 'variables';

$component: '.c-comment';

#{$component} {
  width: min(45.625rem, 90%);

  &__reply {
    border-left: 1px solid $blue-100;
    padding-left: 2rem;
    margin-left: 2rem;

    @include mixins.mobile {
      padding-left: 1rem;
      margin-left: 0;
    }
  }

  &__form {
    margin-bottom: 1rem;
    background-color: $white;
    border-radius: $radius;
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    &__avatar {
      width: 2.5rem;
      height: 2.5rem;
    }

    &__text {
      resize: none;
      flex: 1 1 auto;
      height: 6rem;
      padding: 0.625rem 1rem;
      line-height: 1.5rem;
      color: $grayish-blue-600;
      border: 1px solid $grayish-blue-600;
      border-radius: $radius;
    }
  }
}
