@use 'global';
@use 'components';
@import 'variables';

$component: '.c-comment';

#{$component} {
  width: min(45.625rem, 90%);

  &__form {
    background-color: $white;
    border-radius: $radius;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    &__avatar {
      width: 2.5rem;
      height: 2.5rem;
    }

    &__text {
      flex: 1 1 auto;
      height: 6rem;
      padding: 0.625rem 1rem;
      line-height: 1.5rem;
      color: $grayish-blue-600;
      border: 1px solid $grayish-blue-600;
      border-radius: $radius;
    }
  }
}
